@page "/"

<PageTitle>Drive</PageTitle>

<h1>Drive</h1>
<table style="width: 982px; height: 384px">
    </tr>
    <tr>
    <td>
        Front Camera
        <RadzenCard Style="width: 324px; height: 244px"><RadzenImage Style="width: 320px; height: 240px"></RadzenImage></RadzenCard>
    </td>
    <td>
        Map
        <RadzenCard Style="width: 324px; height: 244px"><RadzenImage Style="width: 320px; height: 240px"></RadzenImage></RadzenCard>
    </td>
    <td>
        Rear Camera
        <RadzenCard Style="width: 324px; height: 244px"><RadzenImage Style="width: 320px; height: 240px"></RadzenImage></RadzenCard>
    </td>
    </tr>
</table>
